@font-face {
  font-family: NanumSquare;
  src: url(./static/font/NanumSquareL.otf) format('opentype'),
	   url(./static/font/NanumSquareL.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: NanumSquare;
  src: url(./static/font/NanumSquareR.otf) format('opentype'),
	   url(./static/font/NanumSquareR.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: NanumSquare;
  src: url(./static/font/NanumSquareB.otf) format('opentype'),
	   url(./static/font/NanumSquareB.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: NanumSquare;
  src: url(./static/font/NanumSquareEB.otf) format('opentype'),
	   url(./static/font/NanumSquareEB.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: Header;
  src: url(./static/font/GmarketSansBold.otf) format('opentype'),
      url(./static/font/GmarketSansTTFBold.ttf) format('truetype');
  font-weight: 400;
}

* {
	font-family: NanumSquare;
  margin: 0;
  padding: 0;
}

.App {
  background-color: "E9E9EF";
  display: flex;
  justify-content: flex-start;
}

.Wrapper {
  width: 78%;
  height: 100vh;
  background-color: #F4F4F8;
}

@media(max-width: 1100px){
  .Wrapper {
    width: 100%;
  }
}