<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.mapper.GroupMapper">

    <select id="findAllGroup">
        SELECT * FROM group
    </select>

    <select id="findGroupById" resultType="com.api.domain.Group">
        SELECT * FROM group WHERE id = #{_id}
    </select>
    
</mapper>