<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.mapper.MenuMapper">

    <!-- Find Menu -->
    <select id="findAllMenu" resultType="java.util.HashMap">
        SELECT * FROM Menu
    </select>
    <select id="findMenuById" resultType="com.api.domain.Menu">
        SELECT * FROM Menu WHERE id = #{_id}
    </select>

    <select id="findMenuByName" resultType="com.api.domain.Menu">
        SELECT * FROM Menu WHERE name = #{_name}
    </select>

    <select id="findMenuByMenuType" resultType="java.util.HashMap">
        SELECT * FROM Menu WHERE menu_type = #{menuType}
    </select>

    <select id="findSumOfRating_data" resultType="com.api.domain.Menu">
        SELECT Menu_id, sum(rating_data) FROM Rating GROUP BY Menu_id
    </select>

    <select id="findDailyMenuByDate" resultType="java.util.HashMap">
        SELECT * FROM Daily_meal WHERE date_value = #{_date}
    </select>
    
    <select id="findRecentDateByMenuId" resultType="java.util.HashMap">
        SELECT DATE_FORMAT(date_value,'%Y-%m-%d') AS recentDate FROM Daily_meal WHERE menu = #{_id} ORDER BY date_value DESC LIMIT 10;
    </select>

    <!-- Update Menu -->
    <update id="updateMenuScore">
        UPDATE Menu SET score=#{_score} WHERE id = #{_id}
    </update>

    <update id="updateDailymenu">
        UPDATE Daily_meal SET date_value=#{dateValue}, time=#{_time}, group_id=#{groupId}, menu=#{_menu} WHERE date_value=#{beforeDate}, time=#{beforeTime}
    </update>


    <insert id="addDailyMenu">
        INSERT INTO Daily_meal (date_value, time, group_id, menu)
        VALUES (#{dateValue}, #{_time}, #{groupId}, #{_menu})
    </insert>
    
    <insert id="addMenu">
        INSERT INTO Menu (name, menu_type)
        VALUES (#{_name}, #{_menutype})
    </insert>

</mapper>