<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.mapper.RatingMapper">

    <!-- Find Menu -->
    <select id="getRatioByDates" resultType="java.util.HashMap">
        SELECT a.Menu_id AS id, b.name AS name, (SUM(a.rating_data)*20) / COUNT(a.rating_data) AS ratio FROM Rating AS a JOIN Menu AS b ON (a.Menu_id = b.id) WHERE a.created_at BETWEEN DATE(#{_start}) AND DATE(#{_end})+1 GROUP BY Menu_id    
    </select>
    
    <select id="getAllRating" resultType="java.util.HashMap">
        SELECT * FROM Rating
    </select>
    
    <select id="findRatioOfAllMenu" resultType="java.util.HashMap">
        SELECT a.Menu_id AS id, b.name AS name, (SUM(a.rating_data)*20) / COUNT(a.rating_data) AS ratio FROM Rating AS a JOIN Menu AS b ON a.Menu_id = b.id GROUP BY Menu_id
    </select>

    <insert id="addRating">
        INSERT INTO Rating (User_id, Menu_id, rating_data)
        VALUES (#{_userId}, #{_menuId}, #{ratingData})
    </insert>

    <update id="updateBadReason">
        UPDATE Rating SET bad_reason = #{_badreason} WHERE id = (SELECT id FROM (SELECT MAX(id) AS id FROM Rating) AS temp);
    </update>

    <!-- for debugging
        SELECT Menu_id, sum(rating_data)/count(Menu_id) FROM Rating GROUP BY Menu_id;
        SELECT id, name, score from Menu;
    -->
    <select id="calcSumOfRating_data">
        UPDATE Menu AS t1, ( SELECT Menu_id, sum(rating_data)/count(Menu_id) AS c1
        FROM Rating
        GROUP BY Menu_id ) AS t2
        SET t1.score=t2.c1
        WHERE t1.id = t2.Menu_id;
    </select>

</mapper>