<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.mapper.RatingMapper">

    <!-- Find Menu -->
    <select id="getRatingByDates" resultType="java.util.HashMap">
        SELECT Rating.rating_data AS rating, Menu.name AS name FROM Rating RIGHT JOIN Menu ON Rating.Menu_id = Menu.id JOIN Daily_meal ON (Daily_meal.menu = Menu.id AND Daily_meal.date_value = #{_date})
    </select>
    
    <insert id="addRating">
        INSERT INTO Rating (User_id, Menu_id, rating_data)
        VALUES (#{_userId}, #{_menuId}, #{ratingData})
    </insert>

</mapper>